.shimmer-box {
  height: 100px;
  width: 100px;
  background-color: lightgray;
  border-radius: 20px;
}

.shimmer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
}

.products {
  display: grid;
  padding: 0;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 150px;
  padding: 20px;
  background-color: rgba(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Imp on clickables */
}

.products__single > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 1px;
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__selected {
  background-color: rgba(220, 220, 220);
}

.pagination__disabled {
  opacity: 0;
}
